* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;




}



body {
    background: radial-gradient(
            /* COR DO MEU FUNDO */
            ellipse at center right,
            #5a2000 0%,
            #2a0f00 40%,
            #0d0500 100%);
}




.menu {
    display: grid;
    /* Divide o header em 3 colunas: laterais iguais (1fr) e meio automático */
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    /* deixa no meio  */
    padding: 10px 5%;
    background-color: #1a0a03;
    /* Fundo escuro */
    margin-bottom: 20px;
}


.tag h2 {
    color: white;
    margin: 0;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;


}

.tag h2 span {

    color: chocolate;
}

.navegacao {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #808080;
}

.navegacao a {
    color: #808080;
    cursor: pointer;
}


.botao-direita {

    text-align: right;
    /* Isso joga o botão para o fim da coluna da direita */
    margin-left: 90%;
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    background-color: chocolate;
    font-size: 10px;
    color: white;
    border: none;
    border-radius: 4px;


}




.caixa-central {

    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 50px; /* esquerda */


}

.caixa-central h1 {

    font-size: 80px;
    color: white;


    }

.caixa-central p {
    font-size: 15px;
    color: white;

} 


.cardapio, .como-chegar {

    background-color: chocolate;
    font-size: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    margin-top: 30px;

}

.img-logo {
    position: absolute;
    margin-left: 60%;

}


 .os {
    color: chocolate;
 }

 .da {
    color: #fae900;
 }


.caracteristicas {
    display: flex;             /* Coloca as 3 divs em linha */
    align-items: center;       /* Alinha verticalmente no centro */
    justify-content: center;   /* Centraliza o conteúdo */


    /* As linhas horizontais da imagem */
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 0;           /* Espaçamento interno em cima e embaixo */
    margin: 50px 0;            /* Espaçamento fora da seção */
    width: 100%;               /* Ocupa a largura toda */
 }

 .caracteristicas > div {
    flex: 1;                   /* Faz cada coluna ocupar o mesmo espaço (33% cada) */
    text-align: center;        /* Centraliza o texto de cada coluna */
    display: flex;
    flex-direction: column;    /* Coloca o número em cima do texto */
    gap: 5px;                  /* Espaço entre o número e o texto */
}
 

.caracteristicas > div + div {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.caracteristicas div div:first-child {
    color: #ff4500;            /* Cor laranja da logo */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    line-height: 1;
}

/* Estilizando os Textos de baixo (Cinza pequeno) */
.caracteristicas div div:last-child {
    color: #808080;
    text-transform: uppercase; /* Deixa em MAIÚSCULO */
    font-size: 11px;
    letter-spacing: 2px;       /* Espaçamento entre as letras */
}



.texto {
    color: white;
    margin-left: 40px;
}

.car {
    color: #fae900;
}